body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 100vh;
}

* {
  padding: 0;
  margin: 0;
}

.container {
  width: 90%;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  width: 25%;
  height: 90vh;
}

.section h1, .center {
  text-align: center;
}

.red {
  background-color: #A22;
}

.green {
  background-color: green;
}

#status {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 40px;
}

#nbPassage {
  margin-top: 100px;
}

#GraphWeek {
  margin-top: 30px;
}

#weeklyStat {
  display: flex;
  align-items:flex-end;
  justify-content: space-around;

  height: 100px;
  width: 100%;
}

#weeklyStat > div {
  width: 12%;
  height: 50%;
  display: flex;
  
  background-color: #666;
}

#weeklyStat > div > span{
  align-self: flex-end;
}

.item-list {
  max-height: 80%;
  display: flex;
  flex-direction: column;
  overflow-Y: scroll;
}

.item {
  width: 70%;
  margin: 15px auto;
  border-radius: 8px;
  padding: 10px;
  -webkit-box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.56); 
  box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.56);
}

.popup {
  background-color: rgba(0, 0, 0, 0.123);
  position: absolute;
  top: 0;
  
  display: none;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;
}

.popup-content {
  background-color: #FFF;

  padding: 40px;

  width: 60%;
  height: 30%;

  border-radius: 8px;
  -webkit-box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.56); 
  box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.56);
}

#debug-buttons {
  position: absolute;
  top: 0;
  left: 0;

  cursor: pointer;

  border-radius: 0 0 8px 0;
  -webkit-box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.56); 
  box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.56);
}

#refresh-button {
  padding: 4px;
}

#registration-button {
  padding:4px;
  border-top: solid #000 1px;
}